logs
project/project/target
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/backup
/data
/typescript/DefinitelyScala/
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

/util/megasingle/src

buildinfo.properties
