logs
project/project/target
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/backup
/data
/util/ts-dump/node_modules
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

buildinfo.properties
