@(q: Option[String], projects: Seq[(String, Boolean)])(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@layout.simple(utils.Config.projectName) {
  <div class="row">
    <div class="col s12">
      <div class="collection with-header">
        <div class="collection-header">
          <div class="right">
            @projects.count(_._2) OK, @projects.count(!_._2) Errors
          </div>
          <h5>@utils.NumberUtils.withCommas(projects.size) Build Results</h5>
        </div>
        @projects.map { project =>
          <div class="collection-item">
            <div class="right">
              <a class="teal-text" href="@routes.HomeController.detail(project._1.stripPrefix("scala-js-").stripSuffix(".log"))">
                @if(project._2) {
                  <i class="fa fa-check"></i>
                } else {
                  <i class="fa fa-close"></i>
                }
              </a>
            </div>
            @project._1
          </div>
        }
      </div>
    </div>
  </div>
}
