@(scripts: Seq[better.files.File], debug: Boolean)(implicit request: Request[AnyContent], session: Session, flash: Flash)
@layout.simple(utils.Config.projectName) {
  <div class="row">
    <div class="col s12">
      <div class="panel-content">
        <div class="collection with-header">
          <div class="collection-header">
            <a href="@controllers.routes.TestController.allScripts()" class="right teal-text">Process All</a>
            <h5>@utils.NumberUtils.withCommas(scripts.size) Available Libraries</h5>
          </div>
          @scripts.map { script =>
            <a href="@controllers.routes.TestController.script(script.name)" class="collection-item">@script.name</a>
          }
        </div>
      </div>
    </div>
  </div>
}
