@(
    key: String,
    src: better.files.File,
    definitions: Option[Seq[models.parse.parser.tree.DeclTree]],
    output: Seq[String],
    debug: Boolean
)(implicit request: Request[AnyContent], session: Session, flash: Flash)@layout.simple(key) {
  <div class="row">
    <div class="col s12">
      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <div class="collapsible-header"><h5>@key</h5></div>
        </li>
        <li>
          <div class="collapsible-header active">Scala Output</div>
          <div class="collapsible-body"><pre style="margin: 10px;">@output.mkString("\n")</pre></div>
        </li>
        <li>
          <div class="collapsible-header">Parsed Tree</div>
          <div class="collapsible-body"><pre style="margin: 10px;">@definitions</pre></div>
        </li>
        <li>
          <div class="collapsible-header">TypeScript Input</div>
          <div class="collapsible-body"><pre style="margin: 10px;">@src.contentAsString</pre></div>
        </li>
      </ul>
    </div>
  </div>
}
