@(
    key: String,
    f: better.files.File,
    definitions: Either[String, List[models.parse.parser.tree.DeclTree]],
    output: String,
    debug: Boolean
)(implicit request: Request[AnyContent], session: Session, flash: Flash)@layout.simple(key) {
  <div class="row">
    <div class="col s12">
      <div class="panel-content">
        <div class="collection with-header">
          <div class="collection-header">
            <h5>@key</h5>
          </div>
          <div class="collection-item">
            <h5>Scala Output</h5>
            <pre style="margin: 10px;">@output</pre>
          </div>
          <div class="collection-item">
            <h5>Parsed Tree</h5>
            <div style="margin: 10px;">@definitions</div>
          </div>
          <div class="collection-item">
            <h5>Content</h5>
            <pre style="margin: 10px;">@f.contentAsString</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
}
