@(repos: Seq[services.github.GithubService.Repo], projectDirs: Seq[String])(implicit request: Request[AnyContent], session: Session, flash: Flash)
@layout.simple(utils.Config.projectName) {
  <div class="row">
    <div class="col s12">
      <div class="panel-content">
        <a href="@controllers.routes.GithubController.test()" class="right teal-text">Test</a>
        <h5>@repos.size of @projectDirs.size Available Projects</h5>
        <table class="bordered highlight">
          <thead>
            <tr>
              <th>Project</th>
              <th>Git</th>
              <th>FS</th>
            </tr>
          </thead>
          <tbody>
          @defining((repos.map(_.name) ++ projectDirs).distinct.sorted) { keys =>
            @keys.map { key =>
              @defining(repos.find(_.name == key)) { repo =>
                @defining(projectDirs.contains(key)) { dirExists =>
                  <tr>
                    <td>@key</td>
                    <td>@if(repo.isDefined) {
                      <a class="teal-text" href="@controllers.routes.GithubController.detail(key)">OK</a>
                    } else {
                      <a class="teal-text" href="@controllers.routes.GithubController.create(key)">Create</a>
                    }</td>
                    <td>@if(dirExists) {
                      <a class="teal-text" href="@controllers.routes.TestController.script(key)">OK</a>
                    } else {
                      Missing
                    }</td>
                  </tr>
                }
              }
            }
          }
          </tbody>
        </table>
      </div>
    </div>
  </div>
}
