@(
    key: String,
    details: models.parse.ProjectDefinition,
    out: better.files.File,
    project: better.files.File,
    hasRepo: Boolean,
    github: Option[services.github.GithubService.Repo],
    debug: Boolean
)(implicit request: Request[AnyContent], session: Session, flash: Flash)@layout.simple(details.name) {
  <div class="row">
    <div class="col s12">
      <div class="panel-content">
        <div class="collection with-header">
          <div class="collection-header">
            <div class="right"><a class="teal-text" href="@controllers.routes.GitInitController.fullInit(key)">Full Init</a></div>
            <h5>@key</h5>
          </div>
          <div class="collection-item">
            <div>@details.name (@details.version)</div>
            <div><a class="teal-text" href="@details.url">@details.url</a></div>
            <div>@details.authors</div>
          </div>
          <div class="collection-item">
            <div><a class="teal-text" href="@controllers.routes.ParseController.parse(key)">Parse</a></div>
            <div><a class="teal-text" href="@controllers.routes.ProjectController.update(key)">Project</a></div>
            <div><a class="teal-text" href="@controllers.routes.ParseController.refresh(key)">Refresh</a></div>
          </div>
          <div class="collection-item">
            <div><a class="teal-text" href="@controllers.routes.SbtController.clean(key)">Clean</a></div>
            <div><a class="teal-text" href="@controllers.routes.SbtController.build(key)">Build</a></div>
            <div><a class="teal-text" href="@controllers.routes.SbtController.last(key)">Last Build</a></div>
          </div>
          <div class="collection-item">
            <div><a class="teal-text" href="@controllers.routes.SbtPublishController.publish(key)">Publish</a></div>
            <div><a class="teal-text" href="https://bintray.com/definitelyscala/maven/scala-js-@key">JCenter</a></div>
          </div>
          <div class="collection-item">
            <h6>Local Git Repo</h6>
            @if(hasRepo) {
              <div>Local repo ready.</div>
              <a class="teal-text" href="@controllers.routes.GitController.detail(key)">Details</a>
              <a class="teal-text" href="@controllers.routes.GitController.reset(key)">Reset</a>
            } else {
              <div>No local repo.</div>
              <a class="teal-text" href="@controllers.routes.GitInitController.create(key)">Create</a>
            }
          </div>
          <div class="collection-item">
            <h6>Github Repo</h6>
            @if(github.isDefined) {
              <div><a class="teal-text" href="@github.get.url">@github.get.url</a></div>
              <a class="teal-text" href="@controllers.routes.GithubController.detail(key)">Details</a>
            } else {
              <div>No Github repository available.</div>
              <a class="teal-text" href="@controllers.routes.GithubController.create(key)">Create</a>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
}
