@(
    q: Option[String],
    filter: Option[String],
    keys: Seq[(String, String)],
    debug: Boolean
)(implicit request: Request[AnyContent], session: Session, flash: Flash)@layout.simple("Home") {
  <div class="row">
    <div class="col s12">
      <div class="panel-content">
        <div class="collection with-header">
          <div class="collection-header">
            <h5>@utils.NumberUtils.withCommas(keys.size) Available Projects</h5>
          </div>
          <div class="collection-item">
            <div><a href="@controllers.routes.HomeController.list()" class="teal-text">Project List</a></div>
            <div><a href="@controllers.routes.HomeController.problems()" class="teal-text">Problems</a></div>
          </div>
          <div class="collection-item">
            <h6>TypeScript</h6>
            <div><a href="@controllers.routes.ParseController.copy()" class="teal-text">Copy</a></div>
            <div><a href="@controllers.routes.ParseController.parseAll(q)" class="teal-text">Parse</a></div>
          </div>
          <div class="collection-item">
            <h6>Project</h6>
            <div><a href="@controllers.routes.ProjectController.updateAll(q)" class="teal-text">Update</a></div>
            <div><a href="@controllers.routes.SbtController.cleanAll(q)" class="teal-text">Clean</a></div>
            <div><a href="@controllers.routes.SbtController.formatAll(q)" class="teal-text">Format</a></div>
            <div><a href="@controllers.routes.SbtController.buildForm(q)" class="teal-text">Build</a></div>
            <div><a href="@controllers.routes.SbtController.list(q)" class="teal-text">Status</a></div>
            <div><a href="@controllers.routes.SbtHistoryController.list()" class="teal-text">History</a></div>
          </div>
          <div class="collection-item">
            <h6>Git</h6>
            <div><a href="@controllers.routes.GitInitController.createAll()" class="teal-text">Create</a></div>
            <div><a href="@controllers.routes.GitInitController.initCommitsAll()" class="teal-text">Initial Commits</a></div>
            <div><a href="@controllers.routes.GitController.statusAll()" class="teal-text">Status</a></div>
            <div><a href="@controllers.routes.GitController.commitForm()" class="teal-text">Commit</a></div>
            <div><a href="@controllers.routes.GitController.resetAll()" class="teal-text">Reset</a></div>
            <div><a href="@controllers.routes.GitController.pushAll()" class="teal-text">Push</a></div>
          </div>
          <div class="collection-item">
            <h6>Github</h6>
            <div><a href="@controllers.routes.GithubController.list()" class="teal-text">List</a></div>
            <div><a href="@controllers.routes.GithubController.mergeAll()" class="teal-text">Merge</a></div>
          </div>
          <div class="collection-item">
            <h6>Publish</h6>
            <div><a href="@controllers.routes.SbtPublishController.list()" class="teal-text">List</a></div>
          </div>
          <div class="collection-item">
            <div><a href="@controllers.routes.StaticSiteController.generate()" class="teal-text">Generate Static Site</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
