@(
    q: Option[String],
    filter: Option[String],
    keys: Seq[(String, String)],
    outDirs: Seq[String],
    projectDirs: Seq[better.files.File],
    repos: Seq[services.github.GithubService.Repo],
    debug: Boolean
)(implicit request: Request[AnyContent], session: Session, flash: Flash)@layout.simple(utils.Config.projectName) {
  <div class="row">
    <div class="col s12">
      <div class="panel-content">
        <div class="collection with-header">
          <div class="collection-header">
            <div class="right" style="text-align: right;">
              <div>
                <a href="@controllers.routes.ParseController.parseAll(q)" class="teal-text">Parse</a> /
                <a href="@controllers.routes.ProjectController.updateAll(q)" class="teal-text">Update</a> /
                <a href="@controllers.routes.SbtController.buildAll(q)" class="teal-text">Build</a> /
                <a href="@controllers.routes.GitController.commitForm()" class="teal-text">Commit</a> /
                <a href="@controllers.routes.GitController.pushAll()" class="teal-text">Push</a>
              </div>
              <div>
                <a href="@controllers.routes.StaticSiteController.generate()" class="teal-text">Static</a> /
                <a href="@controllers.routes.SbtController.list(q)" class="teal-text">SBT</a> /
                <a href="@controllers.routes.GithubController.list()" class="teal-text">Github</a>
              </div>
            </div>
            <h5>@utils.NumberUtils.withCommas(keys.size) Available Projects</h5>
            @views.html.component.filterForm(q, filter)
          </div>
          <div class="collection-item">
            <table class="bordered highlight">
              <thead>
                <tr>
                  <th>Key</th>
                  <th>Out</th>
                  <th>Project</th>
                  <th>Repo</th>
                  <th>Github</th>
                </tr>
              </thead>
              <tbody>
              @keys.map { key =>
                @defining(repos.find(_.name == ("scala-js-" + key._2.replaceAllLiterally("-", "")))) { repo =>
                  @defining(outDirs.contains(key._1)) { outExists =>
                    @defining(projectDirs.find(_.name == "scala-js-" + key._2)) { projectFile =>
                      <tr>
                        <td>
                          <a class="teal-text" href="@controllers.routes.HomeController.detail(key._1)">@key._1</a>
                        </td>
                        <td>
                          <a class="teal-text" href="@controllers.routes.ParseController.parse(key._1)">
                            @if(outExists) { <i class="fa fa-check"></i> } else { <i class="fa fa-close"></i> }
                          </a>
                        </td>
                        <td>
                          <a class="teal-text" href="@controllers.routes.ProjectController.update(key._1)">
                          @if(projectFile.isDefined) { <i class="fa fa-check"></i> } else { <i class="fa fa-close"></i> }
                          </a>
                        </td>
                        <td>
                          @if(projectFile.exists(_./(".git").exists)) { <i class="fa fa-check"></i> } else { <i class="fa fa-close"></i> }
                        </td>
                        <td>@if(repo.isDefined) {
                          <a class="teal-text" href="@controllers.routes.GithubController.detail(key._2)"><i class="fa fa-check"></i></a>
                        } else {
                          <a class="teal-text" href="@controllers.routes.GithubController.create(key._2)"><i class="fa fa-close"></i></a>
                        }</td>
                      </tr>
                    }
                  }
                }
              }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
}
